<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js"></script>
    <link rel="stylesheet" href="https://cdn.getorbita.io/orbita_components.css">
    <script src="https://cdn.getorbita.io/orbita_components.js"></script>
  </head>

  <body>

      <div id="orbita-toolbar-wrapper" class="header-orbita">
        test
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
